{% extends "layout.njk" %}

{% block content %}

<section id="about">
    <h3>Sobre o Foodfy</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Tempore corporis vitae quos distinctio ut, fugit aperiam 
        tenetur eveniet consectetur natus modi ea animi magnam voluptatibus.
        Illum enim quos beatae ex voluptatibus delectus ipsam autem, aliquam 
        quaerat, et quis! Ut sint animi quasi delectus tenetur magnam? Quasi architecto 
        laboriosam explicabo consectetur ipsum? Natus ad eos hic, repellat nobis reprehenderit
        quisquam aliquid. Ut rerum exercitationem praesentium quos cumque sapiente, expedita quia quam 
        distinctio asperiores possimus ipsam veniam eaque est unde culpa, at tenetur nesciunt nemo corrupti?
        Sapiente quo harum maxime architecto quia, consectetur ipsam maiores culpa, hic ab, iusto delectus eligendi libero.
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium molestiae blanditiis molestias voluptatum sapiente veritatis,
        hic quo iusto, odio obcaecati omnis optio sit rerum. Optio ipsum blanditiis soluta perferendis porro amet exercitationem aspernatur
        velit rerum quibusdam, voluptates nemo illum iure! Nesciunt harum quia incidunt, nostrum hic ipsum nemo quo laborum sapiente delectus
        cumque, accusamus cupiditate, quam omnis corrupti dolorem repellendus. Beatae necessitatibus qui voluptas eos placeat. Aperiam officiis 
        aliquam veritatis et officia quidem quasi voluptas commodi culpa ipsa adipisci excepturi vitae, exercitationem possimus. Harum nulla quidem
        dolorum itaque deleniti ratione, sequi accusamus dolores excepturi aliquam eius quaerat ea obcaecati necessitatibus!
    </p>
    <h3>Como tudo começou...</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Tempore corporis vitae quos distinctio ut, fugit aperiam 
        tenetur eveniet consectetur natus modi ea animi magnam voluptatibus.
        Illum enim quos beatae ex voluptatibus delectus ipsam autem, aliquam 
        quaerat, et quis! Ut sint animi quasi delectus tenetur magnam? Quasi architecto 
        laboriosam explicabo consectetur ipsum? Natus ad eos hic, repellat nobis reprehenderit
        quisquam aliquid. Ut rerum exercitationem praesentium quos cumque sapiente, expedita quia quam 
        distinctio asperiores possimus ipsam veniam eaque est unde culpa, at tenetur nesciunt nemo corrupti?
        Sapiente quo harum maxime architecto quia, consectetur ipsam maiores culpa, hic ab, iusto delectus eligendi libero.
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium molestiae blanditiis molestias voluptatum sapiente veritatis,
        hic quo iusto, odio obcaecati omnis optio sit rerum. Optio ipsum blanditiis soluta perferendis porro amet exercitationem aspernatur
        velit rerum quibusdam, voluptates nemo illum iure! Nesciunt harum quia incidunt, nostrum hic ipsum nemo quo laborum sapiente delectus
        cumque, accusamus cupiditate, quam omnis corrupti dolorem repellendus. Beatae necessitatibus qui voluptas eos placeat. Aperiam officiis 
        aliquam veritatis et officia quidem quasi voluptas commodi culpa ipsa adipisci excepturi vitae, exercitationem possimus. Harum nulla quidem
        dolorum itaque deleniti ratione, sequi accusamus dolores excepturi aliquam eius quaerat ea obcaecati necessitatibus!
    </p>
    <h3>Nossas receitas</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis odio quam sint, vel quo, 
        fugiat laboriosam, expedita nam in neque dolorum dignissimos minima rerum nisi rem corporis
        iusto numquam ullam? Dignissimos maxime aut laboriosam nemo. Quas aspernatur assumenda iure
        earum neque omnis necessitatibus possimus nisi nostrum quis repellendus magnam iste, beatae
        quidem harum natus repudiandae magni eius libero odit, id quam, labore eaque quod. Perspiciatis
        quidem vel totam sit accusantium consectetur fuga voluptatum eius iusto dolorum laborum, rem et
        illum quam? Illo fugiat cum atque.
    </p>
</section>

{% endblock %}

