<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodfy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="content">
        <header>
            <img class="logo" src="assets/logo.png" alt="Logo">
            <div class="nav-bar">
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Receitas</a></li>
                </ul>
            </div>
        </header>
    {% block content%} {% endblock%}
    </section>

    <footer>
        <h3>Todos os direitos reservados, receitas Foodfy.</h3>
    </footer>
</body>
</html>