{% extends "layout.njk" %}

{% block content %}

  <section id="cards">
      {% for dado in dados %}
        <div class="card" id="{{dado.ID}}">
            <img src="assets/{{dado.ID}}.png" alt="{{dado.ID}}">
            <div class="info-card">
                <h3>{{dado.name}}</h3>
                <p>por {{dado.author}}</p>       
            </div>
        </div>
      {% endfor %}
    </section>

{% endblock %}

{% block modal %}

  <section id="modal">
      <div class="modal-content">
        <div class="recipe">
          <img src="assets/burger.png" alt="">
          <h3></h3>
          <p></p>
          <a href="#">Fechar</a>
        </div>
      </div>
    </section>

{% endblock %}